.grid {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}

.arrowIcon {
    margin-left: -3rem;
}

.navigationbar a :hover {
    color: aqua;
}

@media only screen and (max-width: 620px) {
    .verticalBar {
        display: none;
    }

    .navigationbar {
        display: none;
    }

    .grid {
        display: grid;
        grid-template-columns: 1fr;

    }

    .arrowIcon {
        /* margin-left: 9rem; */
        margin: "auto";
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        align-content: center !important;
    }

    .ProjDesc {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: left;
        margin: 3%;
    }

    .projectCard {
        width: 80%;
        height: "auto";
    }

}